* {
    font-family: 'Roboto', sans-serif;
}

.text-orange {
    color: #ff763b;
}

.btn-orange {
    background-color: #ff763b;
    color: #fff;
}

.btn-orange:hover {
    background-color: #d06734;
    color: #fff;
}

.btn-outline-orange {
    color: #ff763b;
    background-color: transparent;
    background-image: none;
    border-color: #ff763b;
}

.btn-outline-orange:hover {
    background-color: #ff763b;
    background-image: none;
    border-color: #ff763b;
    color: #fff;
}

.bg-orange {
    background-color: #ff763b;
}
/*IMAGEM*/
div#mesa {
    background-image: url(../images/mesa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: blur(2px);
}
/*----------------------------------------*/


#preco {
    font-size: 30px;
}
#comofunciona{
    font-size: 20px;
    font-family:Raleway,sans-serif;
    transform: rotate(0deg);


}
/*COMANDO PARA DEIXAR A DIV CORTADA*/
.wrapper {
    background: url(../images/mesa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.cut {
    background: white;
    position: absolute;
    width: 110%;
    height: 50px;
    margin-top: -25px;
    transform: rotate(-2deg); 

    
}

#conteudo {
    margin-bottom: 50px;
}
/*----------------------------------*/

#clientes{
    background-color: rgba(0,0,0,0.8);
}
#j{
   min-height: 400px; 
}


